.input-filed-custom-style{

    display: inline !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background: transparent !important;
    width: 30% !important;
    margin: 0 5px !important;
}
#input-filed-custom-style-min-max{

    display: inline !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background: transparent !important;
    width: 50% !important;
    margin: 0 5px !important;
}